body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #6D597A, #B56576);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #333;
}

.java-book-card:hover {
  box-shadow: 0 0 10px #aaaaaa;
  top: -10px;
  background: #d2d2d2;
}

.img {
  height: 450px;
  width: 200px;
}

.page-img {
  height: 650px;
  width: 400px;
}

.navbar {
  border-radius: 10px;
  font-weight: bold;
  flex-direction: column;
}

#root {
  min-width: 60%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form::-webkit-scrollbar {
  display: none;
}

.form {

  .form-control::placeholder {
    color: #5383F4;
  }
  .form-control[type="number"]::placeholder {
    color: #5383F4;
  }
  .form-control:invalid {
    background-color: #474747;
  }
}




